@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

html,
body,
:root {
	height: 100%;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	a {
		@apply hover:text-primary transition-all;
	}
}

@layer base {
	:root {
		--nav-background: 235, 12%, 95%, 0.8;
		--background: 235 12% 95%;
		--foreground: 235 5% 0%;
		--card: 235 12% 90%;
		--card-foreground: 235 5% 10%;
		--popover: 235 12% 95%;
		--popover-foreground: 235 95% 0%;
		--primary: 235 60% 50%;
		--primary-foreground: 0 0% 100%;
		--secondary: 235 12% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 197 12% 85%;
		--muted-foreground: 235 5% 35%;
		--accent: 197 12% 80%;
		--accent-foreground: 235 5% 10%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 235 5% 90%;
		--border: 235 20% 85%;
		--input: 235 20% 18%;
		--ring: 235 60% 50%;
		--radius: 0.5rem;

		/* Charts */
		--chart-5: 359 2% 90%;
		--chart-4: 240 1% 74%;
		--chart-3: 240 1% 58%;
		--chart-2: 240 1% 42%;
		--chart-1: 240 2% 26%;

		/* The below are custom theme values, these will not be provided inside of online theme generators */
		--successful: 152 69% 52%;
		--successful-foreground: 60 9.1% 97.8%;
		--background-navbar: 0, 0%, 100%, 0.85;
	}

	.dark {
		--nav-background: 235, 12%, 5%, 0.8;
		--background: 235 12% 5%;
		--foreground: 235 5% 90%;
		--card: 235 12% 0%;
		--card-foreground: 235 5% 90%;
		--popover: 235 12% 5%;
		--popover-foreground: 235 5% 90%;
		--primary: 235 60% 50%;
		--primary-foreground: 0 0% 100%;
		--secondary: 235 12% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 197 12% 15%;
		--muted-foreground: 235 5% 60%;
		--accent: 197 12% 15%;
		--accent-foreground: 235 5% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 235 5% 90%;
		--border: 235 20% 18%;
		--input: 235 20% 18%;
		--ring: 235 60% 50%;
		--radius: 0.5rem;

		/* Charts  */
		--chart-1: 359 2% 90%;
		--chart-2: 240 1% 74%;
		--chart-3: 240 1% 58%;
		--chart-4: 240 1% 42%;
		--chart-5: 240 2% 26%;

		/* The below are custom theme values, these will not be provided inside of online theme generators */
		--successful: 152 69% 52%;
		--successful-foreground: 60 9.1% 97.8%;
		--background-navbar: 20, 14.3%, 4.1%, 0.85;
	}
}
